<div class="section text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <div class="">
            <h1 class="text-center text-success topic-name"><%= @topic.name %></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <div id="counter-timer">
            <h1 class="text-center text-primary">You have exactly </h1><h1 class="text-center text-danger"><span>5</span></h1><h1 class="text-center text-primary"> seconds to respond below</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section text-center">
  <div class="container">
    <div class="row" id="entry_form">
      <%= render "entries/form", topic: @topic, entry: @entry %>
    </div>
  </div>
</div>



<div class="entries">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-group">
            <%= render @entries %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>